#login_container
    form.authForm#login_form
        h1(class="auth_title") 로그인
        p(class="login_label") ID
        input(id="login_id",class="auth_input",type="text", name="id", autocomplete="off" ,autofocus, required)
        p(class="login_label") PW
        input(id="login_pw",class="auth_input",type="password", name="password", required)
        input(id="login_submit",class="auth_submit",type="submit", value="로그인")
        p(id="login_status") 상태
script(src="scripts/login.js")